.content--center {
  height: calc(100vh - 36px - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

form > label {
  display:flex;
  justify-content:space-between;
}

form > label > span {
  padding-right:8px;
}

form > label > input, form > label > textarea {
  flex: 1;
  width:100%;
}

form > label, form > button {
  border: 2px solid black;
  border-top: 0px;
  padding:6px;
  font-size:16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

form > label:first-of-type {
  border-top: 2px solid black;
}

form input, form textarea {
  border: 1px solid black;
  font-size:14px;
  padding:4px;
}

form > button {
  cursor:pointer;
}
