html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

*, *:before, *:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display:none;
}
a {text-decoration:none;color:inherit; display:block;}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color:blue;
  font-family: 'Libre Baskerville', serif;
  font-size:1.2rem;
}
#___gatsby {
  height: calc(100% - 36px);
  width: calc(100% - 36px);
  box-sizing: border-box;
  margin: 18px;
  display: block;
  background-color:#fff;
  position:relative;
}

.logo__wrapper {
	z-index:20;
	position:relative;
  height:3rem;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 6px 0 0 6px;
}
.logo__wrapper h1 {
	width:50%;
	text-align: center;
}
.content__title {
	padding-right:1rem;
}
main {
  overflow:hidden;
  display: flex;
  max-height:calc(100vh - 36px);
  position: relative;
  top: -3rem;
}
main.main--page {
	padding:3rem 1rem 0;
}
.content {
	overflow:auto;
}
.content__left {
	flex:3;
}
.content__right {
	flex:7;
}
nav {
  padding: 0 18px 18px;
  width: 50vw;
  position:absolute;
  bottom:-18px;
  z-index:20;
  color:#fff;
	font-size:16px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.nav__list {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20% 2px;
}
section {
  width:50%;
  height:auto;
  position:relative;
}
.section--right {
  padding-right: 10%;
  overflow-y:scroll;
  height:calc(100vh - 18px);
}
.section--right .section__content {
  padding-top:5rem;
  line-height: 1.5rem;
  padding-bottom:3rem;
  /* column-count:2; */
}
.image__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.image__wrapper img {
  height:100%;
  object-fit:contain;
}
.footnotes__list {
	list-style-type:decimal;
	padding: 0 60px 0 40px;
}

.footnotes__list-item {
	padding-top:20px;
	font-size:1rem;
}
.posts__list {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap:12px;
	grid-row-gap:12px;
	width:100%;
	overflow:auto;
	padding-bottom:1rem;
}
.posts__list a {
	border:2px solid black;
}
.post__image {
	width:100%;
	height:300px;
	position:relative;
}

.post__image img {
	object-fit:cover;
	width:100%;
	height:100%;
}

.post__title {
	border-top:2px solid black;
	padding:4px;
}
